/*

공통

*/
.blind{
    position: absolute;
    clip: rect(0,0,0,0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
.text_effect{
    display: block;
    margin-top: -2.4px;
    padding-bottom: 2.4px;
    overflow: hidden;
}
.inner{
    display: grid;
    column-gap: calc(24/var(--vw)*var(--multiplier));
    grid-template-columns: repeat(12,1fr);
}