/*

공통

*/
.blind{
    position: absolute;
    clip: rect(0,0,0,0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
.text_effect{
    display: block;
    margin-top: -2.4px;
    padding-bottom: 2.4px;
    overflow: hidden;
}
.inner{
    display: grid;
    column-gap: calc(24/var(--view_width)*var(--window_width));
    grid-template-columns: repeat(12,1fr);
}

@media (max-width: 900px){  
	:root{
        --view_width: 375;
    }
    .inner{
        column-gap: calc(16/var(--view_width)*var(--window_width));
        grid-template-columns: repeat(4,1fr);
    }
}