
#content{
    position: relative;
    width: 100%;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;

    background-color: #f1e3c4;

    width: 100%;
    height: 100%;
    z-index: 10000;
}
.loading-container .logo svg path {
    fill: black;
    opacity: 0; 
  }
.group_cursor{
    position: fixed;
    left: 0;
    top: 0;
    transform: translate(-50%,-50%);

    will-change: transform;
    z-index: 99999;
    pointer-events: none;
}
.group_video_player.open{
    clip-path: inset(0% 0 0);
}
.group_video_player{
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    clip-path: inset(100% 0 0);
    cursor: pointer;
    height: 100vh;
    overflow: hidden;
    padding: 100px;
    width: 100%;
    z-index: 99998;
    
    transition: 1.5s;
}
.group_video_player .video_bg{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: #1a1a1a;
    height: 100%;
    width: 100%;
}
.group_video_player .video_content{
    position: relative;
    height: auto;
    overflow: initial;
    width: 140vh;
}
.group_video_player .video_thumb{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;

    cursor: pointer;
    height: 100%;
    width: 100%;
}
.group_video_player .video_thumb video{
    aspect-ratio: 16/9;
    height: 100%;
    width: auto;
    object-fit: cover;
    max-width: 100%;
}

.group_video_player .video_controls{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;

    position: relative;

    box-sizing: border-box;
    cursor: default;
    margin-bottom: -5vh;
    padding-bottom: 5vh;
    padding-top: 20px;
    width: 100%;
    z-index: 3;
}
.group_video_player .progress_area{
    position: relative;

    background-color: #ffffff4d;
    cursor: pointer;
    height: 1px;
    width: 100%;
}
.group_video_player .progress_box{
    position: absolute;
    left: 0;
    top: -10px;

    height: 25px;
    width: 100%;
    z-index: 2;
}
.group_video_player .progress{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;    

    background: #fff;
    height: 100%;
    transition: width 0.1s linear;
}
.group_video_player .fullscreen_btn{
    display: flex;

    box-sizing: border-box;
    cursor: pointer;
    margin: -16px;
    padding: 16px;
}
.group_video_player .fullscreen_btn svg{
    transform-origin: center;
    transition: transform .8s;
    transition-delay: .1s;
    will-change: transform;
}

.sc_visual{
    position: relative;

    color: #fff;
    min-height: 100vh;
    overflow: hidden;
    width: 100%;
    cursor: pointer;
}
.sc_visual .gradient_area{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    opacity: 0.3;

    background: #000;
    z-index: 2;

    pointer-events: none;
    width: 100%;
}
.sc_visual .mask_area{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(30,1fr);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;bottom: 0;
    z-index: 10;
    pointer-events: none;
}
.sc_visual .mask_area .bar{
    position: relative;
    --h:0;
}
.sc_visual .mask_area .bar::before{
    content: '';
    position: absolute;
    bottom: 0;left: 0;
    width: 100%;
    height: calc(var(--h)*1%);
    background: #3e2b2c;
}
.sc_visual .visual_thumb_area{
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: hidden;
    height: 100%;
    width: 100%;
    pointer-events: none;
}
.sc_visual .visual_thumb_box{
    display: initial;
}
.sc_visual .visual_thumb_box video{
    height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}

.sc_visual .visual_marquee{
    position: absolute;

    bottom: 150px;
    left: 0;

    overflow: hidden;
    width: 100%;
    z-index: 12;
}
.sc_visual .marquee_area{
    display: flex;
    position: relative;

    overflow: hidden;
    padding: 0;
    text-transform: none;
    width: max-content;

    font-family: Basis Grotesque,sans-serif;
    font-size: 130px;
    font-weight: 300;
    letter-spacing: -0.32px;
    line-height: 1;

    animation: marquee 50s linear infinite alternate;
}

@keyframes marquee {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-50%);
    }
}
.sc_visual .marquee_list{
    display: flex;
    position: relative;

    height: auto;
    user-select: none;
    white-space: nowrap;
}
.sc_visual .marquee_item{
    display: inline-block;
    flex-shrink: 0;
    min-width: 100%;
    padding-left: 4px;
}

.sc_visual .visual_bottom{
    position: absolute;

    bottom: 5%;
    left: 0;
    width: 100%;
    z-index: 2;
}
.sc_visual .visual_bottom_content{
    display: block;
    position: relative;

    padding: 0 50px;
    width: 100%;
}
.sc_visual .group_visual_bottom{
    display: flex;
    justify-content: space-between;
    position: relative;

    padding-top: 30px;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, .5);
}

.sc_visual .visual_b_left{
    display: block;
}
.sc_visual .visual_b_left .down_arrow_ic svg{
    height: auto;
    transform: translateY(170%);
    width: 15px;
}

.sc_visual .visual_desc_text{
    font-family: Basis Grotesque,sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
}
.sc_visual .visual_b_right{
    font-family: Basis Grotesque,sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
}
.group_cursor .play_btn.load{
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
    pointer-events: auto;
}
.group_cursor .pause_btn.load{
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
    pointer-events: auto;
}
.group_cursor .play_btn,
.group_cursor .pause_btn{
    display: flex;
    align-items: center;
    justify-content: center;   
    gap: 20px;

    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%) scale(.5);

    height: 80px;
    width: 80px;

    backdrop-filter: blur(10px);
    background: #ffffff40;
    border-radius: 50%;
    color: #fff;
    font-size: 24px;
    line-height: 1;
    padding: 20px;
    transition: opacity .5s ease,transform .3s ease;
    white-space: nowrap;

    opacity: 0;
}
.group_cursor .play_btn svg,
.group_cursor .pause_btn svg{
    height: auto;
    width: 15px;
}
.group_cursor .discover_btn.load{
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
}
.group_cursor .discover_btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(.5);

    backdrop-filter: blur(10px);
    background: #ffffff40;
    border-radius: 40px;
    color: #fff;
    font-size: 18px;
    line-height: 1;
    transition: opacity .5s ease,transform .3s ease;
    white-space: nowrap;

    opacity: 0;
}
.group_cursor .discover_ic{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    background-color: transparent;
    height: auto;
    width: auto;
    white-space: nowrap;

    background: #fff3;
    border-radius: 50%;
}

.group_cursor .discover_btn svg{
    width: 10px;
    height: auto;
}

.sc_story{
    background-color: #3e2b2c;
    padding: 100px;
}
.sc_story .thumb_area.big{
    grid-column: 5/13;
    height: 600px;
    margin-bottom: 100px;
    width: 100%;
}
.sc_story .thumb_box{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.sc_story .thumb_box img{
    height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    transform: scale(1.2);
    will-change: transform;
}

.group_headline{
    grid-column: 1/4;
}
.headline_area{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}
.headline_ic_box .headline_ic{
    height: 100%;
    width: 10px;
}
.headline_ic_box .headline_ic svg{
    height: auto;
    width: 100%;
}

.headline_title_box{
    font-family: Basis Grotesque,sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
}
.headline_title{
    margin-top: -0.8px;
}
.sc_person .headline_title{
    color: #000;
}
.group_info{
    grid-column: 5/12;

    color: #d1ccbf;
    font-family: "PRETENDARD";
    font-size: 40px;
    font-weight: 300;
    line-height: 1.22;
    margin-bottom: 100px;
    padding-right: 50px;
}
.group_info h3 b{
    color: #ca7d57;
}
.group_info .space{
    display: inline-block;
    width: 50px;
}
.group_desc{
    grid-column: 5/9;

    color: #d1ccbf;
    font-family: "PRETENDARD";
    font-size: 30px;
    font-weight: 400;
    line-height: 1.52;
    margin-bottom: 100px;
    padding-right: 50px;
}
.sc_person .group_info{
    margin-bottom: 0;
}
.sc_person .group_desc{
    margin-bottom: 0;
    color: #000;
}
.sc_person .btn_area{
    padding-right: 100px;
}
.sc_person .link_btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    position: relative;

    cursor: pointer;
    color: #000;
    padding: 20px 0;
}
.btn_area .btn_text{
    flex-shrink: 0;
    font-family: "PRETENDARD";
}
.btn_area .btn_ic{
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;

    overflow: hidden;
}
.btn_area .btn_ic svg{
    height: auto;
    max-width: 20px;
    width: 100%;
}

.sc_person .btn_area .btn_border_box{
    background-color: #000;
}
.btn_area .btn_border_box{
    position: absolute;
    left: 0;

    background-color: #d0cbbe80;
    bottom: -1px;
    height: 1px;
    width: 100%;
}
.btn_area:hover .btn_border{
    transform: scaleX(1);
    transform-origin: left;
}
.btn_area .btn_border{
    position: absolute;
    bottom: 0;
    left: 0;

    background-color: #d1ccbf;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .8s;
    width: 100%;
}

.sc_person{
    background-color: #fff;
    overflow: hidden;
}
.sc_person .headline_ic path{
    fill:#000;
}
.sc_person .group_info{
    color: #000;
}
.sc_person .image_area{
    grid-column: 1/7;
    height: auto;
    margin-left: -30px;
    overflow: hidden;
    width: 850px;
}
.sc_person .image_area img{
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    width: 100%;
    will-change: transform;
}
.sc_person .content_area{
    display: flex;
    flex-direction: column;
    gap: 20px;
    grid-column: 8/-1;
    justify-content: center;
}

.sc_innovation{
    position: relative;

    height: 500vh;
    width: 100%;
    cursor: pointer;
}
.sc_innovation .sticky{
    position: sticky;
    height: 100vh;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
}
.sc_innovation .bg_area{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;

    pointer-events: none;
    width: 100%;
}
.sc_innovation .bg_overlay_box{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;

    background: #000;
    height: 100%;
    pointer-events: none;
    width: 100%;
    z-index: 6;
    opacity: .25;
}
.sc_innovation .bg_box{
    height: 100%;
    width: 100%;
}
.sc_innovation .bg_thumub.thumub_01{
    display: flex;
    flex-direction: column; 
    z-index: 5;
}
.sc_innovation .bg_thumub.thumub_02{
    display: flex;
    flex-direction: column; 
    z-index: 4;
}
.sc_innovation .bg_thumub.thumub_03{
    display: flex;
    flex-direction: column; 
    z-index: 3;
}
.sc_innovation .bg_thumub.thumub_04{
    display: flex;
    flex-direction: column; 
    z-index: 2;
}
.sc_innovation .bg_thumub.thumub_05{
    display: flex;
    flex-direction: column;
    z-index: 1; 
}

.sc_innovation .bg_thumub.thumub_01 .i{
    position: relative;
    flex: 1;
    overflow: hidden;
}
.sc_innovation .bg_thumub.thumub_02 .i{
    position: relative;
    flex: 1;
    overflow: hidden;
}
.sc_innovation .bg_thumub.thumub_03 .i{
    position: relative;
    flex: 1;
    overflow: hidden;
}
.sc_innovation .bg_thumub.thumub_04 .i{
    position: relative;
    flex: 1;
    overflow: hidden;
}
.sc_innovation .bg_thumub.thumub_05 .i{
    position: relative;
    flex: 1;
    overflow: hidden;
}

.sc_innovation .bg_thumub.thumub_01 .i::before{
    position: absolute;
    top: 0;left: 0;
    background: url(../images/innovation01.jpg) no-repeat;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    content: '';
}
.sc_innovation .bg_thumub.thumub_02 .i::before{
    position: absolute;
    top: 0;left: 0;
    background: url(../images/innovation02.jpg) no-repeat;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    content: '';
}
.sc_innovation .bg_thumub.thumub_03 .i::before{
    position: absolute;
    top: 0;left: 0;
    background: url(../images/innovation03.jpg) no-repeat;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    content: '';
}
.sc_innovation .bg_thumub.thumub_04 .i::before{
    position: absolute;
    top: 0;left: 0;
    background: url(../images/innovation04.jpg) no-repeat;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    content: '';
}
.sc_innovation .bg_thumub.thumub_05 .i::before{
    position: absolute;
    top: 0;left: 0;
    background: url(../images/innovation05.jpg) no-repeat;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    content: '';
}

.sc_innovation .bg_thumub.thumub_01 .i:nth-child(1)::before { top: calc(-5vh * 0); }
.sc_innovation .bg_thumub.thumub_01 .i:nth-child(2)::before { top: calc(-5vh * 1); }
.sc_innovation .bg_thumub.thumub_01 .i:nth-child(3)::before { top: calc(-5vh * 2); }
.sc_innovation .bg_thumub.thumub_01 .i:nth-child(4)::before { top: calc(-5vh * 3); }
.sc_innovation .bg_thumub.thumub_01 .i:nth-child(5)::before { top: calc(-5vh * 4); }
.sc_innovation .bg_thumub.thumub_01 .i:nth-child(6)::before { top: calc(-5vh * 5); }
.sc_innovation .bg_thumub.thumub_01 .i:nth-child(7)::before { top: calc(-5vh * 6); }
.sc_innovation .bg_thumub.thumub_01 .i:nth-child(8)::before { top: calc(-5vh * 7); }
.sc_innovation .bg_thumub.thumub_01 .i:nth-child(9)::before { top: calc(-5vh * 8); }
.sc_innovation .bg_thumub.thumub_01 .i:nth-child(10)::before { top: calc(-5vh * 9); }
.sc_innovation .bg_thumub.thumub_01 .i:nth-child(11)::before { top: calc(-5vh * 10); }
.sc_innovation .bg_thumub.thumub_01 .i:nth-child(12)::before { top: calc(-5vh * 11); }
.sc_innovation .bg_thumub.thumub_01 .i:nth-child(13)::before { top: calc(-5vh * 12); }
.sc_innovation .bg_thumub.thumub_01 .i:nth-child(14)::before { top: calc(-5vh * 13); }
.sc_innovation .bg_thumub.thumub_01 .i:nth-child(15)::before { top: calc(-5vh * 14); }
.sc_innovation .bg_thumub.thumub_01 .i:nth-child(16)::before { top: calc(-5vh * 15); }
.sc_innovation .bg_thumub.thumub_01 .i:nth-child(17)::before { top: calc(-5vh * 16); }
.sc_innovation .bg_thumub.thumub_01 .i:nth-child(18)::before { top: calc(-5vh * 17); }
.sc_innovation .bg_thumub.thumub_01 .i:nth-child(19)::before { top: calc(-5vh * 18); }
.sc_innovation .bg_thumub.thumub_01 .i:nth-child(20)::before { top: calc(-5vh * 19); }

.sc_innovation .bg_thumub.thumub_02 .i:nth-child(1)::before { top: calc(-5vh * 0); }
.sc_innovation .bg_thumub.thumub_02 .i:nth-child(2)::before { top: calc(-5vh * 1); }
.sc_innovation .bg_thumub.thumub_02 .i:nth-child(3)::before { top: calc(-5vh * 2); }
.sc_innovation .bg_thumub.thumub_02 .i:nth-child(4)::before { top: calc(-5vh * 3); }
.sc_innovation .bg_thumub.thumub_02 .i:nth-child(5)::before { top: calc(-5vh * 4); }
.sc_innovation .bg_thumub.thumub_02 .i:nth-child(6)::before { top: calc(-5vh * 5); }
.sc_innovation .bg_thumub.thumub_02 .i:nth-child(7)::before { top: calc(-5vh * 6); }
.sc_innovation .bg_thumub.thumub_02 .i:nth-child(8)::before { top: calc(-5vh * 7); }
.sc_innovation .bg_thumub.thumub_02 .i:nth-child(9)::before { top: calc(-5vh * 8); }
.sc_innovation .bg_thumub.thumub_02 .i:nth-child(10)::before { top: calc(-5vh * 9); }
.sc_innovation .bg_thumub.thumub_02 .i:nth-child(11)::before { top: calc(-5vh * 10); }
.sc_innovation .bg_thumub.thumub_02 .i:nth-child(12)::before { top: calc(-5vh * 11); }
.sc_innovation .bg_thumub.thumub_02 .i:nth-child(13)::before { top: calc(-5vh * 12); }
.sc_innovation .bg_thumub.thumub_02 .i:nth-child(14)::before { top: calc(-5vh * 13); }
.sc_innovation .bg_thumub.thumub_02 .i:nth-child(15)::before { top: calc(-5vh * 14); }
.sc_innovation .bg_thumub.thumub_02 .i:nth-child(16)::before { top: calc(-5vh * 15); }
.sc_innovation .bg_thumub.thumub_02 .i:nth-child(17)::before { top: calc(-5vh * 16); }
.sc_innovation .bg_thumub.thumub_02 .i:nth-child(18)::before { top: calc(-5vh * 17); }
.sc_innovation .bg_thumub.thumub_02 .i:nth-child(19)::before { top: calc(-5vh * 18); }
.sc_innovation .bg_thumub.thumub_02 .i:nth-child(20)::before { top: calc(-5vh * 19); }  

.sc_innovation .bg_thumub.thumub_03 .i:nth-child(1)::before { top: calc(-5vh * 0); }
.sc_innovation .bg_thumub.thumub_03 .i:nth-child(2)::before { top: calc(-5vh * 1); }
.sc_innovation .bg_thumub.thumub_03 .i:nth-child(3)::before { top: calc(-5vh * 2); }
.sc_innovation .bg_thumub.thumub_03 .i:nth-child(4)::before { top: calc(-5vh * 3); }
.sc_innovation .bg_thumub.thumub_03 .i:nth-child(5)::before { top: calc(-5vh * 4); }
.sc_innovation .bg_thumub.thumub_03 .i:nth-child(6)::before { top: calc(-5vh * 5); }
.sc_innovation .bg_thumub.thumub_03 .i:nth-child(7)::before { top: calc(-5vh * 6); }
.sc_innovation .bg_thumub.thumub_03 .i:nth-child(8)::before { top: calc(-5vh * 7); }
.sc_innovation .bg_thumub.thumub_03 .i:nth-child(9)::before { top: calc(-5vh * 8); }
.sc_innovation .bg_thumub.thumub_03 .i:nth-child(10)::before { top: calc(-5vh * 9); }
.sc_innovation .bg_thumub.thumub_03 .i:nth-child(11)::before { top: calc(-5vh * 10); }
.sc_innovation .bg_thumub.thumub_03 .i:nth-child(12)::before { top: calc(-5vh * 11); }
.sc_innovation .bg_thumub.thumub_03 .i:nth-child(13)::before { top: calc(-5vh * 12); }
.sc_innovation .bg_thumub.thumub_03 .i:nth-child(14)::before { top: calc(-5vh * 13); }
.sc_innovation .bg_thumub.thumub_03 .i:nth-child(15)::before { top: calc(-5vh * 14); }
.sc_innovation .bg_thumub.thumub_03 .i:nth-child(16)::before { top: calc(-5vh * 15); }
.sc_innovation .bg_thumub.thumub_03 .i:nth-child(17)::before { top: calc(-5vh * 16); }
.sc_innovation .bg_thumub.thumub_03 .i:nth-child(18)::before { top: calc(-5vh * 17); }
.sc_innovation .bg_thumub.thumub_03 .i:nth-child(19)::before { top: calc(-5vh * 18); }
.sc_innovation .bg_thumub.thumub_03 .i:nth-child(20)::before { top: calc(-5vh * 19); }  

.sc_innovation .bg_thumub.thumub_04 .i:nth-child(1)::before { top: calc(-5vh * 0); }
.sc_innovation .bg_thumub.thumub_04 .i:nth-child(2)::before { top: calc(-5vh * 1); }
.sc_innovation .bg_thumub.thumub_04 .i:nth-child(3)::before { top: calc(-5vh * 2); }
.sc_innovation .bg_thumub.thumub_04 .i:nth-child(4)::before { top: calc(-5vh * 3); }
.sc_innovation .bg_thumub.thumub_04 .i:nth-child(5)::before { top: calc(-5vh * 4); }
.sc_innovation .bg_thumub.thumub_04 .i:nth-child(6)::before { top: calc(-5vh * 5); }
.sc_innovation .bg_thumub.thumub_04 .i:nth-child(7)::before { top: calc(-5vh * 6); }
.sc_innovation .bg_thumub.thumub_04 .i:nth-child(8)::before { top: calc(-5vh * 7); }
.sc_innovation .bg_thumub.thumub_04 .i:nth-child(9)::before { top: calc(-5vh * 8); }
.sc_innovation .bg_thumub.thumub_04 .i:nth-child(10)::before { top: calc(-5vh * 9); }
.sc_innovation .bg_thumub.thumub_04 .i:nth-child(11)::before { top: calc(-5vh * 10); }
.sc_innovation .bg_thumub.thumub_04 .i:nth-child(12)::before { top: calc(-5vh * 11); }
.sc_innovation .bg_thumub.thumub_04 .i:nth-child(13)::before { top: calc(-5vh * 12); }
.sc_innovation .bg_thumub.thumub_04 .i:nth-child(14)::before { top: calc(-5vh * 13); }
.sc_innovation .bg_thumub.thumub_04 .i:nth-child(15)::before { top: calc(-5vh * 14); }
.sc_innovation .bg_thumub.thumub_04 .i:nth-child(16)::before { top: calc(-5vh * 15); }
.sc_innovation .bg_thumub.thumub_04 .i:nth-child(17)::before { top: calc(-5vh * 16); }
.sc_innovation .bg_thumub.thumub_04 .i:nth-child(18)::before { top: calc(-5vh * 17); }
.sc_innovation .bg_thumub.thumub_04 .i:nth-child(19)::before { top: calc(-5vh * 18); }
.sc_innovation .bg_thumub.thumub_04 .i:nth-child(20)::before { top: calc(-5vh * 19); }  

.sc_innovation .bg_thumub.thumub_05 .i:nth-child(1)::before { top: calc(-5vh * 0); }
.sc_innovation .bg_thumub.thumub_05 .i:nth-child(2)::before { top: calc(-5vh * 1); }
.sc_innovation .bg_thumub.thumub_05 .i:nth-child(3)::before { top: calc(-5vh * 2); }
.sc_innovation .bg_thumub.thumub_05 .i:nth-child(4)::before { top: calc(-5vh * 3); }
.sc_innovation .bg_thumub.thumub_05 .i:nth-child(5)::before { top: calc(-5vh * 4); }
.sc_innovation .bg_thumub.thumub_05 .i:nth-child(6)::before { top: calc(-5vh * 5); }
.sc_innovation .bg_thumub.thumub_05 .i:nth-child(7)::before { top: calc(-5vh * 6); }
.sc_innovation .bg_thumub.thumub_05 .i:nth-child(8)::before { top: calc(-5vh * 7); }
.sc_innovation .bg_thumub.thumub_05 .i:nth-child(9)::before { top: calc(-5vh * 8); }
.sc_innovation .bg_thumub.thumub_05 .i:nth-child(10)::before { top: calc(-5vh * 9); }
.sc_innovation .bg_thumub.thumub_05 .i:nth-child(11)::before { top: calc(-5vh * 10); }
.sc_innovation .bg_thumub.thumub_05 .i:nth-child(12)::before { top: calc(-5vh * 11); }
.sc_innovation .bg_thumub.thumub_05 .i:nth-child(13)::before { top: calc(-5vh * 12); }
.sc_innovation .bg_thumub.thumub_05 .i:nth-child(14)::before { top: calc(-5vh * 13); }
.sc_innovation .bg_thumub.thumub_05 .i:nth-child(15)::before { top: calc(-5vh * 14); }
.sc_innovation .bg_thumub.thumub_05 .i:nth-child(16)::before { top: calc(-5vh * 15); }
.sc_innovation .bg_thumub.thumub_05 .i:nth-child(17)::before { top: calc(-5vh * 16); }
.sc_innovation .bg_thumub.thumub_05 .i:nth-child(18)::before { top: calc(-5vh * 17); }
.sc_innovation .bg_thumub.thumub_05 .i:nth-child(19)::before { top: calc(-5vh * 18); }
.sc_innovation .bg_thumub.thumub_05 .i:nth-child(20)::before { top: calc(-5vh * 19); }  


.sc_innovation .bg_thumub{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    clip-path: inset(0% 0% 0% 0%);
    width: 100%;
    will-change: mask-image,transform;
}
.sc_innovation .bg_thumub img{
    height: 100%;
    object-position: center;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}

.sc_innovation .innovation_text_center{
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    padding: 0 20px;
    pointer-events: none;
    width: 100%;
    z-index: 10;
}
.sc_innovation .group_headline{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.sc_innovation .scroll_desc{
    font-family: Basis Grotesque,sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 1;
}

.sc_innovation .group_poster{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    background-color: #fff;
    color: #2b3530;
    height: 800px;
    max-height: 800px;
    max-width: 500px;
    overflow: hidden;
    padding: 40px;
    text-align: center;
    width: 100%;
    z-index: 10;
}
.sc_innovation .num_area{
    display: flex;
    justify-content: center;
    position: relative;
    overflow-y: clip;

    font-family: Basis Grotesque,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
}
.sc_innovation .current_box{
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: max-content;

    width: 25px;
    overflow: hidden;
}
.sc_innovation .placeholder{
    color: #2b3530;
    text-align: center;
}
.sc_innovation .current_content{
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    will-change: transform;
}
.sc_innovation .current_wrap{
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    will-change: transform;
}

.sc_innovation .total_box{
    opacity: .5;
}

.sc_innovation .poster_title_area{
    position: relative;

    height: 50px;
    margin: 15% auto 10%;
    max-width: 280px;
    width: 100%;
}
.sc_innovation .poster_title{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    backface-visibility: hidden;
    text-align: center;
    width: 100%;

    font-family: Basis Grotesque,sans-serif;
    font-size: 28px;
    font-weight: 300;
    line-height: .8;
}

.sc_innovation .poster_thumb_area{
    position: relative;

    height: 290px;
    overflow: hidden;
    width: 100%;
}
.sc_innovation .poster_thumb_box{
    position: relative;

    height: 100%;
    width: 100%;
    will-change: transform;
}
.sc_innovation .poster_thumb.thumb01{
    --mask: inset(0% 0 0 0);
}
.sc_innovation .poster_thumb.thumb02{
    --mask: inset(0 0 100% 0);
}
.sc_innovation .poster_thumb.thumb03{
    --mask: inset(0 0 100% 0);
}
.sc_innovation .poster_thumb.thumb04{
    --mask: inset(0 0 100% 0);
}
.sc_innovation .poster_thumb.thumb05{
    --mask: inset(0 0 100% 0);
}
.sc_innovation .poster_thumb{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    --mask: inset(100% 0 0 0);
    clip-path: var(--mask);
    height: 100%;
    width: 100%;
    will-change: clip-path;
}
.sc_innovation .poster_thumb img{
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    width: 100%;
}
.sc_innovation .hyphen{
    margin-left: 5px;
}
.sc_innovation .poster_desc_area{
    position: relative;

    height: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    max-width: 346px;
    overflow: hidden;
    width: 100%;
}
.sc_innovation .poster_desc_box{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    backface-visibility: hidden;
    text-align: center;
    width: 100%;

    font-family: "PRETENDARD";
    font-size: 15px;
    font-weight: 400;
    line-height: 1.92;
}

.sc_story_v2{
    background-color: #3e2b2c;
    padding: 220px 0;
}
.sc_story_v2 .container{
    display: block;
    position: relative;

    padding: 0 70px;
    width: 100%;
}

.sc_story_v2 .group_headline{
    display: flex;
    align-items: start;
    flex-direction: row;
    gap: 30px;
    grid-column: 1/4;

    font-family: Basis Grotesque,sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    padding-bottom: 48px;
}

.sc_story_v2 .group_info{
    grid-column: 6/13;

    font-family: "PRETENDARD";
    font-size: 45px;
    font-weight: 300;
    line-height: 1.52;
    margin-bottom: 90px;
    padding-left: 70px;
}
.sc_story_v2 .group_btn{
    display: flex;
    flex-direction: column;
    gap: 30px;
    grid-column: 6/13;
    margin-bottom: 120px;
    margin-left: 70px;
}
.sc_story_v2 .link_btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 160px;

    font-family: "PRETENDARD";
    color: #d1ccbf;
    cursor: pointer;
    padding: 20px 0;
    position: relative;
}
.sc_story_v2 .btn_area .btn_text{
    flex-shrink: 0;
}
.sc_story_v2 .btn_area .btn_ic{
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;

    overflow: hidden;
}
.sc_story_v2 .btn_area .btn_ic svg{
    height: auto;
    max-width: 12px;
    width: 100%;
}

.sc_story_v2 .btn_border_box{
    position: absolute;
    left: 0;

    background-color: #d0cbbe80;
    bottom: -1px;
    height: 1px;
    width: 100%;
}
.sc_story_v2 .link_btn:hover .btn_border{
    transform: scaleX(1);
    transform-origin: left;
}
.sc_story_v2 .link_btn .btn_border{
    position: absolute;
    bottom: 0;
    left: 0;

    background-color: #d1ccbf;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .8s;
    width: 100%;
}


.sc_story_v2 .group_parallax{
    display: flex;
    grid-column: 1/-1;
    width: 100%;
}
.sc_story_v2 .parallax_area{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}
.sc_story_v2 .parallax_thumb_left{
    grid-column: 1/5;
    height: 500px;
    padding-right: 70px;
    width: 100%;
}
.sc_story_v2 .parallax_thumb_box{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.sc_story_v2 .parallax_thumb_box img{
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    width: 100%;
}
.sc_story_v2 .parallax_thumb_right{
    grid-column: 6/13;
    height: 850px;
    padding-left: 80px;
    width: 100%;
}

.sc_sustain{
    background-color: #3e2b2c;
    padding: 250px 0;
}
.sc_sustain .inner{
    display: grid;
    column-gap: 30px;
    grid-template-columns: repeat(12,1fr);
    padding: 0 64px;
}
.sc_sustain .group_marquee{
    color: #d1ccbf;
    font-family: Basis Grotesque,sans-serif;
    font-size: 140px;
    font-weight: 300;
    grid-column: 1/13;
    letter-spacing: -0.32px;
    line-height: 1.2;
    padding-bottom: 120px;
    overflow: hidden;
}
.sc_sustain .marquee_area{
    display: flex;
    height: auto;
    position: relative;
    user-select: none;
    white-space: nowrap;

    width: max-content;
    animation: marquee 50s linear infinite alternate;
    overflow: hidden;
}
.sc_sustain .marquee_item{
    display: inline-block;
    flex-shrink: 0;
    min-width: 100%;
    padding-left: 4px;
}

.sc_sustain .sustain_desc{
    display: flex;
    gap: 60px;
    grid-column: 5/-1;
}
.sc_sustain .sustain_desc h4{
    font-family: "PRETENDARD";
    font-size: 20px;
    font-weight: 400;
    line-height: 1.82;
    max-width: 380px;
    width: 100%;
}

.sc_sustain .group_btn{
    display: flex;
    flex-direction: column;
    grid-column: 5/13;
    margin-top: 100px;
}
.sc_sustain .link_direction{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    border-top: 1px solid #d1ccbf;
    color: #d1ccbf;
    cursor: pointer;
    padding: 30px 0;
    transition: color .6s;
}
.sc_sustain .link_direction:hover::before{
    transform: scaleY(1);
    transform-origin: top;
}
.sc_sustain .link_direction:hover .link_direct_num{
    color: #2b3530;
    transform: translateX(16px);
    z-index: 3;
}
.sc_sustain .link_direction:hover .link_direct_text,
.sc_sustain .link_direction:hover .btn_ic{
    color: #2b3530;
    z-index: 3;
}
.sc_sustain .link_direction::before{
    content: "";
    position: absolute;
    transform: scaleY(0);

    background-color: #d1ccbf;
    height: 100%;
    inset: 0;
    transform-origin: top;
    transition: transform .4s;
    width: 100%;
}
.sc_sustain .link_direction:last-child{
    border-bottom: 1px solid #d1ccbf;
}
.sc_sustain .link_direction .btn_ic svg{
    flex-shrink: 0;
    height: auto;
    max-width: 16px;
    width: 100%;
}
.sc_sustain .link_direct_text_box{
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    gap: 100px;
}
.sc_sustain .link_direct_num{
    transition: transform .6s;
    font-family: Basis Grotesque,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
}
.sc_sustain .link_direct_text{
    font-family: Basis Grotesque,sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 1;
}

.sc_sustain .sustain_thumb_area{
    backface-visibility: hidden;
    grid-column: 1/4;
    height: 400px;
    margin-bottom: 0;
    margin-top: 110px;
    overflow: hidden;
    position: relative;
    width: 100%;
    will-change: transform;
}
.sc_sustain .sustain_thumb_box{
    display: initial;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;

    clip-path: inset(100% 0% 0% 0%);
    animation: cliiip 1s forwards;

    height: 100%;
    width: 100%;
}
.sc_sustain .sustain_thumb_box img{
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    width: 100%;
}
.sc_join{
    display: flex;
    color: #2b3530;
}
.sc_join .join_left{
    width: 50%;
    height: auto;
}
.sc_join .join_left .join_thumb_box{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.sc_join .join_left .join_thumb_box img{
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    width: 100%;
}

.sc_join .join_right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;

    background-color: #fff;
    padding: 130px;
}
.sc_join .join_right .join_title{
    font-family: "PRETENDARD";
    font-size: 30px;
    font-weight: 300;
    line-height: 1;
}
.sc_join .join_right .join_desc{
    margin-bottom: 50px;
    margin-top: 40px;
    max-width: 440px;
    width: 100%;

    font-family: "PRETENDARD";
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
}
.sc_join .join_right form{
    max-width: 440px;
    width: 100%;
}
.sc_join .input_box{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    margin-bottom: 20px;
}
.sc_join .input_box label{
    font-family: "PRETENDARD";
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    color: #2b3530;
    opacity: .6;
}
.sc_join .input_box input{
    background-color: #fff;
    border-bottom: 1px solid #3e2b2c;
    padding: 16px 30px;

    font-family: Basis Grotesque,sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.25;
}

.sc_join .group_category{
    font-size: 20px;
    margin-top: 50px;
}
.sc_join .category_title{
    font-family: "PRETENDARD";
    margin-bottom: 30px;
}
.sc_join .category_area{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
.sc_join .check_box{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    cursor: pointer;
}
.sc_join .check_box .checkbox_wrap{
    display: flex;
    position: relative;
}
.sc_join .check_box .checkbox_wrap input{
    flex-shrink: 0;

    border: 1px solid #2b3530;
    cursor: pointer;
    height: 20px;
    width: 20px;
}
.sc_join .check_box label{
    color: #2b3530;
    cursor: pointer;
    font-size: 20px;

    font-family: "PRETENDARD";
    font-weight: 400;
    line-height: 1;
}

.sc_join .agree_area{
    display: flex;
    align-items: center;
    gap: 12px;

    font-size: 20px;
    margin-top: 45px;
}
.sc_join .agree_area .link_form{
    color: #000;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    width: fit-content;
}
.sc_join .agree_area .link_form::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    background: #000;
    height: 1px;
    pointer-events: none;
    transform: scaleX(1);
    transform-origin: 0 50%;
    transition: transform .8s;
    width: 100%;
}
.sc_join .form_btn{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #3e2b2c;
    color: #d1ccbf;
    cursor: pointer;
    margin-top: 70px;
    padding: 24px 30px;
    transition: background-color .3s ease;
    width: 100%;
}
.sc_join .form_btn span{
    font-family: "PRETENDARD";
}
.sc_join .form_btn:hover{
    background-color: #65401f;
}
.sc_join .form_btn .form_btn_ic{
    max-width: 12px;
    width: 100%;
}
.sc_join .form_btn .form_btn_ic svg{
    height: auto;
    width: 100%;
}


.sc_join .select_area{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}
.sc_join .select_area label{
    color: #2b3530;
    opacity: .6;

    font-family: "PRETENDARD";
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
}
.sc_join .select_area .input_box{
    display: flex;
    flex-direction: row;

    background-color: #fff;
    padding: 16px 30px;
    border-bottom: 1px solid #3e2b2c;
}
.sc_join .select_area .input_box input{
    border-bottom: none;
    padding: 0;
}
.sc_join .select_area .select_box{
    display: flex;
    align-items: center;
    position: relative;

    font-size: 18px;
    overflow: hidden;
    width: 120px;
}
.sc_join .select_area .select_box select{
    position: absolute;
    left: 0;
    top: 0;

    appearance: none;
    background-color: #c4c7b3;
    background-image: none;
    border: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
    z-index: 2;
    opacity: 0;
}
.sc_join .select_area .select_box .select_ic{
    display: flex;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}
.sc_join .select_area .select_box .select_ic svg{
    height: auto;
    width: 12px;
}
.sc_join .select_area input{
    color: #2b3530;
    font: inherit;
    font-size: 18px;
    opacity: .7;
    outline: none;
    width: 100%;
}

.sc_join .country_select{
    display: flex;
    flex-direction: column;
    gap: 16px;;
    width: 100%;
    margin-bottom: 20px;
}
.sc_join .country_select .input_box{
    position: relative;
    cursor: pointer;
    width: 100%;
    padding: 0;
}
.sc_join .country_select select{
    appearance: none;
    background-color: #fff;
    background-image: none;
    border: 0;
    color: inherit;
    cursor: pointer;
    padding: 16px 30px;
    width: 100%;
    outline: none;

    font-family: "PRETENDARD";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.25;
}
.sc_join .country_select .select_ic{
    display: flex;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}
.sc_join .country_select .select_ic svg{
    height: auto;
    width: 12px;
}

.group_aside.open{
    clip-path: inset(0%);
}
.group_aside{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;

    height: 100dvh;
    width: 100%;
    z-index: 10000;

    overflow-y: auto;
    pointer-events: auto;

    clip-path: inset(100% 0 0);
    transition: .5s;
    will-change: clip-path;
}
.aside_container{
    display: grid;
    column-gap: 30px;
    grid-template-columns: repeat(12,1fr);

    position: absolute;
    right: 0;
    top: 0;

    background-color: #f1e3c4;
    color: #2b3530;
    max-width: 100%;
    min-height: 100vh;
    padding-left: 70px;
    padding-right: 70px;
    width: 100%;
    z-index: 2;

    will-change: clip-path;
}
.aside_container .aside_left{
    grid-column: 1/6;
    height: 100%;
    margin-left: -70px;
    overflow: hidden;
    padding-right: 30px;
    width: 120%;
    will-change: clip-path;
}
.aside_container .aside_thumb_area{
    position: relative;

    height: 100%;
    overflow: hidden;
    width: 100%;
}
.aside_container .aside_thumb_list{
    position: relative;

    height: 100%;
    overflow: hidden;
    width: 100%;
}
.aside_container .aside_thumb_item{
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    clip-path: inset(100% 0% 0% 0%);
}


.aside_container .aside_thumb_item.active{
    z-index: 1;
    animation: cliiip 1s forwards;
}

@keyframes cliiip {
    0%{
        clip-path: inset(100% 0% 0% 0%);
    }
    100%{
        clip-path: inset(0% 0% 0% 0%);
    }
}



.aside_container .aside_thumb_item img{
    height: 100%;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
}

.aside_container .aside_right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 7/-1;

    background-color:#f1e3c4;
    max-width: 100%;
    padding-bottom: 30px;
    padding-top: 30px;
    width: 100%;
}
.aside_container .close_btn_area{
    display: flex;
    align-items: center;

    position: absolute;
    top: 30px;
    right: 70px;

    cursor: pointer;
    margin: -2px;
    padding: 2px;
    z-index: 2;
}
.aside_container .close_btn_box{
    position: relative;
    height: 30px;
    overflow: hidden;
    width: 30px;
}
.aside_container .close_btn_box:hover .line.line01{
    transform: translate(120%,-50%)!important;
}
.aside_container .close_btn_box:hover .line.line02{
    transform: translate(-220%,-50%)!important;
}
.aside_container .close_btn_line_item{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    height: 100%;
    overflow: hidden;
    transform-origin: center;
    width: 100%;
}
.aside_container .close_btn_line_item:first-child{
    transform: rotate(135deg);
}
.aside_container .close_btn_line_item:last-child{
    transform: rotate(-135deg);
}
.aside_container .line{
    position: absolute;
    left: 50%;
    top: 50%;

    background-color: #2b3530;
    height: 1px;
    width: 30px;
    will-change: transform;
}
.aside_container .line.line01{
    transform: translate(-50%,-50%);
    transition: transform .8s .14s;
}

.aside_container .line::before{
    content: "";

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: #2b3530;
    height: 1px;
    width: 100%;
}
.aside_container .line.line01::before{
    transform: translate(-170%,-50%);
}
.aside_container .line.line02::before{
    transform: translate(170%,-50%);
}
.aside_container .line.line02{
    transform: translate(-50%,-50%);
    transition: transform .8s 0s;
}

.aside_container .aside_sub_title{
    color: #2b3530;
    color: #2b353080;
    font-size: 22px;
}

.aside_container .menu_list{
    display: grid;
    grid-template-columns: repeat(2,1fr);

    font-weight: 300;
    margin-bottom: 98px;
    margin-top: 60px;
}
.aside_container .menu_item{
    grid-column: span 1;
    margin: 0;
    padding: 0;
}
.aside_container .menu_item a{
    display: flex;
    align-items: center;
    gap: 160px;

    position: relative;

    color: #2b3530;
    font-size: 30px;
    font-family: "PRETENDARD";
    font-weight: 300;
    padding: 20px 0;
}
.aside_container .menu_item a.active span::before{
    transform: scaleX(1);
    transform-origin: left;
}
.aside_container .menu_item span{
    position: relative;
    transition: transform .5s;
    flex-shrink: 0;
}
.aside_container .menu_item span::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);

    background: #000;
    height: 1px;
    pointer-events: none;
    transform-origin: right;
    transition: transform .8s;
    width: 100%;
}
.aside_container .menu_item .menu_ic{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    height: 20px;
    width: 20px;
}
.aside_container .menu_item:not(:first-child) a:hover .menu_ic svg{
    transform: translate(0);
}
.aside_container .menu_item:not(:first-child) a:hover span{
    transform: translate(40px);
}
.aside_container .menu_item .menu_ic svg{
    height: auto;
    max-height: 20px;
    max-width: 20px;
    width: 100%;

    transform: translate(-120%,120%);
    transition: transform .5s;
}

.aside_container .contact_area{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 30px;

    font-size: 22px;
    width: 100%;
}
.aside_container .contact_item{
    width: 100%;
}
.aside_container .contact_item .sub_title,
.aside_container .sub_title{
    color: #2b353080;
    font-size: 18px;
}
.aside_container .contact_item .link_contact:hover::before,
.aside_container .link_policies:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}
.aside_container .contact_item .link_contact::before,
.aside_container .link_policies::before{
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);

    background: #000;
    content: "";
    height: 1px;
    pointer-events: none;
    transform-origin: right;
    transition: transform .8s;
    width: 100%;
}
.aside_container .spacer{
    display: inline-block;
    margin-left: 22px;
    margin-right: 22px;
}
.aside_container .contact_item .link_contact{
    position: relative;
    display: inline-block;
    margin-top: 30px;
}
.aside_container .sns_list{
    display: flex;
    gap: 45px;
}
.aside_container .sns_item svg path{
   fill: #2b3530;
}
.aside_container .sns_item a{
    display: inline-block;
    margin-top: 30px;
}
.aside_container .sns_item a svg{
    height: 30px;
    width: auto;
}
.aside_container .link_policies{
    position: relative;
    display:inline-block;
    font-size: 18px;
    font-family: "PRETENDARD";
}
.notice_area{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #000;
    z-index: 100000;

    display: none;
}
.notice_area .notice_desc{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    font-size: 24px;    
    color: #fff;
    text-wrap: nowrap;
} 

@media (max-width: 1300px) {
    .notice_area{
        display: block;
    }
}
@media (max-width: 480px) {
   #content{
        overflow: hidden;
   }
   .notice_area .notice_desc{
        font-size: 12px;    
   }
}